<footer id="footer">
    <div class="container">
        <div class="row  hidden-xs">
            <dl class="col-sm-2 site-link">
                <dt>网站相关</dt>
                <dd>
                    <a href="/about" target="_blank">关于我们</a>
                </dd>
                <dd>
                    <a href="/tos" target="_blank" title="服务条款.">服务条款</a>
                </dd>
                <dd>
                    <a href="/help" target="_blank">帮助中心</a>
                </dd>
                <dd>
                    <a href="/app" target="_blank">App 下载</a>
                </dd>
            </dl>
            <dl class="col-sm-2 site-link">
                <dt>联系合作</dt>
                <dd>
                    <a href="/contact" target="_blank">联系我们</a>
                </dd>
                <dd>
                    <a href="/joinus" target="_blank">加入我们</a>
                </dd>
                <dd>
                    <a href="/link" target="_blank">合作伙伴</a>
                </dd>
                <dd>
                    <a href="/press" target="_blank">媒体报道</a>
                </dd>
                <dd>
                    <a href="/feedback" target="_blank">建议反馈</a></a>
                </dd>
            </dl>
            <dl class="col-sm-2 site-link">
                <dt>常用链接</dt>
                <dd>
                    <a href="http://xxx/" target="_blank" title="链接1">链接1</a>
                </dd>
                <dd>
                    <a href="http://xxx/" target="_blank" title="链接2">链接2</a>
                </dd>
                <dd>
                    <a href="https://xxx/" target="_blank" title="链接3">链接3</a>
                </dd>
                <dd>
                    <a href="http://xxxx/" target="_blank" title="链接4">链接4</a>
                </dd>
            </dl>
            <dl class="col-sm-2 site-link">
                <dt>关注我们</dt>
                <dd>
                    <a target="_blank" href="">官方Q群</a>
                </dd>
                <dd>
                    <a target="_blank" href="">新浪微博</a>
                </dd>
                <dd>
                    <a target="_blank" href="">Twitter</a>
                </dd>
                <dd>
                    <a target="_blank" href="">LinkedIn</a>
                </dd>
            </dl>
            <dl class="col-sm-4 site-link" id="license">
                <dt>内容许可</dt>
                <dd>
                    除特别说明外，用户内容均采用
                    <a rel="license" target="_blank" href="http://creativecommons.org/licenses/by-sa/3.0/cn/">知识共享署名-相同方式共享 3.0 中国大陆许可协议</a> 进行许可
                </dd>
            </dl>
        </div>
        <div class="copyright">
            Copyright &copy; 2015-2016 律师Online.com
        </div>
    </div>
</footer>
<div id="fixedTools" class="hidden-xs hidden-sm">
  <a id="backtop" class="hidden border-bottom" href="#">回顶部</a>
  <div class="qrcodeWraper">    <a><span class="glyphicon glyphicon-qrcode"></span></a>
    <!--
    <img id="qrcode" class="border" alt="sf-wechat" src="//static.segmentfault.com/build/global/img/sf-wechat.27acd26c.png">
    -->
  </div>

</div>


