{{template "navbar.html".}}
<div class="wrap">
    <div class="container">
        <div class="row">
            <div id="secondary" class="col-md-2">
                {{template "u/settings-sidebar.html" .}}
            </div>
            <div id="main" class="settings col-md-10 form-horizontal">
                <form id="setting" action="/u/settings/email/" method="post">
                    <h2 class="h3 mt30 post-title">Email 地址</h2>
                    {{template "msgerr.html".}}
                    <div class="form-group mt30">
                        <label for="setting-mail" class="required control-label col-sm-2">Email 地址</label>
                        <div class="col-sm-8">
                            <input name="email" id="setting-mail" type="email" placeholder="用于登录找回密码" class="form-control mono" value="{{.u.Email}}" autocomplate="false" required />
                        </div>
                    </div>
                    <div class="form-action row">
                        <div class="col-sm-10 col-sm-offset-2">
                            <button class="btn btn-xl btn-primary mail-sub">提交</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{{template "footer.html".}}
