{{template "navbar.html".}}

<div class="wrap">
    <div class="container">
        <div class="row">
            <div id="secondary" class="col-md-2">
                <nav class="list-group mt30">
                    <a href="/u/settings/" class="list-group-item active">个人资料</a>
                    <a href="/u/settings/mail" class="list-group-item">Email 地址</a>
                    <a href="/u/settings/password" class="list-group-item">密码修改</a>
                    <a href="/u/settings/oauth" class="list-group-item">第三方账号</a>
                    <a href="/u/settings/notify" class="list-group-item">通知提醒</a>
                </nav>
            </div>
            <div id="main" class="settings col-md-10 form-horizontal">
                <h2 class="h3 mt30 post-title">个人资料</h2>
                <div class="row mt30">
                    <div class="col-md-3 col-md-push-9">
                        <img class="avatar-128" src="{{.u.Avatar}}" alt="头像" />
                        <div class="change-avatar">
                            <input type="file" id="avatarFile" name="avatar" class="file hide" />
                            <button type="button" id="avatarBtn" class="btn btn-default btn-m mt10">修改头像</button>
                            <p class="text-muted mt10">从电脑中选择图片上传, 图像大小不要超过 2 MB，长宽不要超过 3000 px</p>
                        </div>
                    </div>
                    <div class="col-md-8 col-md-pull-3">
                        <form action="/u/settings/" method="post">
                            <div class="form-group">
                                <label for="name" class="required control-label col-sm-3">用户名</label>
                                <div class="col-sm-9">
                                    <input name="username" type="text" maxlength="32" placeholder="用户名唯一" class="form-control" value="{{.u.Username}}" required />
                                    <span class="help-block">用户名 90 天内只能修改一次</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-3">性别</label>
                                <div class="col-sm-9">
                                    <label class="radio-inline">
                                        <input name="gender" type="radio" id="sex-none" value="0" {{if eq .u.Sex 0}}checked {{end}}/> 保密</label>
                                    <label class="radio-inline">
                                        <input name="gender" type="radio" id="sex-male" value="1" {{if eq .u.Sex 1}}checked {{end}}/> 男</label>
                                    <label class="radio-inline">
                                        <input name="gender" type="radio" id="sex-female" value="2" {{if eq .u.Sex 2}}checked {{end}}/> 女</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="setting-birthday" class="control-label col-sm-3">生日</label>
                                <div class="col-sm-9">
                                    <input name="birthday" id="setting-birthday" type="text" placeholder="格式 YYYY-MM-DD" value="{{.u.Birth}}" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="setting-city" class="control-label col-sm-3">现居城市</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" autocomplete="off" name="city" data-value="" id="setting-city" placeholder="如：杭州市" value="{{.u.City}}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="setting-company" class="control-label col-sm-3">公司地址</label>
                                <div class="col-sm-9">
                                    <input name="address" id="setting-company" type="text" maxlength="32" placeholder="详细通讯地址" class="form-control" value="{{.u.Company}}" />
                                    <span class="help-block">此地址联系使用，不会公开给第三方</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="setting-address" class="control-label col-sm-3">通讯地址</label>
                                <div class="col-sm-9">
                                    <input name="address" id="setting-address" type="text" maxlength="32" placeholder="详细通讯地址" class="form-control" value="{{.u.Address}}" />
                                    <span class="help-block">此地址将用于寄送纪念品以及活动报名使用，不会公开给第三方</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="setting-mobile" class="control-label col-sm-3">个人网站</label>
                                <div class="col-sm-9">
                                    <input name="homepage" id="setting-mobile" type="url" placeholder="13x88888888" value="{{.u.Mobile}}" class="form-control mono" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="setting-homepage" class="control-label col-sm-3">个人网站</label>
                                <div class="col-sm-9">
                                    <input name="homepage" id="setting-homepage" type="url" placeholder="http://example.com" value="{{.u.Website}}" class="form-control mono" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="setting-description" class="control-label col-sm-3">自我简介</label>
                                <div class="col-sm-9">
                                    <textarea name="description" id="setting-description" class="form-control mono" rows="6">{{.u.Content}}</textarea>
                                </div>
                            </div>
                            <div class="form-action row">
                                <div class="col-sm-offset-3 col-sm-9">
                                    <button class="btn btn-xl btn-primary profile-sub" type="submit">提交</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{template "footer.html".}}
