<div class="container">
    <div class="header text-center">
        <h1>
        <a href="/" class="logo">
            <img src="/static/oto/img/logo_2.png" alt="LaywerOnline">
        </a>
    </h1>
        <p class="description text-muted">欢迎加入最专业的社区</p>
    </div>
    <div class="row bg-white login">
        <div class="col-md-4 col-sm-12 col-md-push-1 login-wrap">
            <h1 class="h4 text-muted login-title">注册新用户</h1> {{template "msgerr.html".}}
            <form action="/u/signup" method="POST" role="form" class="mt30">
                <div class="form-group">
                    <label for="username" class="required control-label">用户名</label>
                    <input type="text" class="form-control" name="username" required placeholder="字母、数字等，用户名唯一"> {{if .xsrfdata}}{{.xsrfdata}}{{end}}
                </div>
                <div class="form-group">
                    <label for="email" class="required control-label">Email</label>
                    <input type="email" class="form-control" name="email" required placeholder="hello@163.com">
                </div>
                <div class="form-group">
                    <label for="password" class="required control-label">密码</label>
                    <input type="password" class="form-control" name="password" required placeholder="不少于 6 位">
                </div>
                <div class="form-group">
                    <label class="required control-label" for="repassword">重复密码</label>
                    <input type="password" id="repassword" name="repassword" placeholder="重复密码" class="form-control" />
                </div>
                <div class="form-group">
                    <label class="required control-label" for="captcha">验证码</label>
                    <input type="text" class="form-control" id="captcha" name="captcha" placeholder="请输入下方的验证码">
                    <div class="mt10">
                        {{create_captcha}}
                    </div>
                </div>
                <div class="form-group clearfix">
                    <div class="checkbox pull-left">
                        <input name="accpet" type="checkbox" value="1" checked>同意并接受<a href="/tos" target="_blank">《服务条款》</a>
                    </div>
                    <button type="submit" class="btn btn-primary pl20 pr20 pull-right">注册</button>
                </div>
            </form>
        </div>
        <div class="login-vline hidden-sm hidden-xs"></div>
        <div class="col-md-4 col-md-push-3 col-sm-12 login-wrap">
            <h1 class="h4 text-muted login-title">说明</h1>
            <blockquote>
                <p>请使用真实电子邮箱注册，邮箱将用来注册验证，我们不会将你的邮箱地址分享给任何人。已经注册帐户的用户，请直接登录。</p>
            </blockquote>
            <div class="form-group clearfix">
                <a href="/u/signin" class="btn btn-primary pl20 pr20 pull-left">登录</a>
            </div>
        </div>
    </div>
    <div class="text-center col-md-12 login-link">
        <a href="/">首页</a>
    </div>
</div>
