<h1 class="h4 text-muted login-title">创建新账号</h1>
{{template "msgerr.html".}}
<form action="/u/signup" method="POST" role="form" class="mt30">
    <div class="form-group">
        <label for="username" class="control-label">用户名</label>
        <input type="text" class="form-control" name="username" required placeholder="字母、数字等，用户名唯一"> {{if .xsrfdata}}{{.xsrfdata}}{{end}}
    </div>
    <div class="form-group">
        <label for="email" class="control-label">Email</label>
        <input type="email" class="form-control" name="email" required placeholder="hello@163.com">
    </div>
    <div class="form-group">
        <label for="password" class="control-label">密码</label>
        <input type="password" class="form-control" name="password" required placeholder="不少于 6 位">
    </div>
    <div class="form-group">
        <label class="control-label" for="repassword">重复密码</label>
        <input type="password" id="repassword" name="repassword" placeholder="重复密码" class="form-control" />
    </div>
    <div class="form-group" style="display:none;">
        <label class="required control-label" for="captcha">验证码</label>
        <input type="text" class="form-control" id="loginCaptcha" name="captcha" placeholder="请输入下方的验证码">
        <div class="mt10">
            <a id="reloadCaptcha" href="javascript:void(0)"><img class="captcha" src="/captcha?w=240&h=50" width="240" height="50" /></a>
        </div>
    </div>
    <div class="form-group clearfix">
        <div class="checkbox pull-left">
            同意并接受<a href="/tos" target="_blank">《服务条款》</a>
        </div>
        <button type="submit" class="btn btn-primary pl20 pr20 pull-right">注册</button>
    </div>
</form>
