<h1 class="h4 text-muted login-title">用户登录</h1>
{{template "msgerr.html".}}
<form action="/u/signin" method="POST" role="form" class="mt30">
    <div class="form-group">
        <label for="email" class="control-label">Email</label>
        <input type="email" class="form-control" name="email" required placeholder="hello@163.com"> {{if .xsrfdata}}{{.xsrfdata}}{{end}}
    </div>
    <div class="form-group">
        <label for="password" class="control-label">密码</label>
        <input type="password" class="form-control" name="password" required placeholder="密码">
    </div>
    <div class="form-group clearfix">
        <div class="checkbox pull-left">
            <label>
                <input name="remember" type="checkbox" value="1" checked> 记住登录状态</label>
        </div>
        <button type="submit" class="btn btn-primary pull-right pl20 pr20">登录</button>
    </div>
</form>
{{/*}}
<p class="h4 text-muted visible-xs-block h4">快速登录</p>
<div class="widget-login mt30">
    <p class="text-muted mt5 mr10 pull-left hidden-xs">快速登录</p>
    <a href="/u/oauth/google" class="btn pl5 pr5 mb5 btn-default btn-sm btn-sn-google"><span class="icon-sn-google"></span> <strong class="visible-xs-inline">Google 账号</strong></a>
    <a href="/u/oauth/github" class="btn pl5 pr5 mb5 btn-default btn-sm btn-sn-github"><span class="icon-sn-github"></span> <strong class="visible-xs-inline">Github 账号</strong></a>
    <a href="/u/oauth/weibo" class="btn pl5 pr5 mb5 btn-default btn-sm btn-sn-weibo"><span class="icon-sn-weibo"></span> <strong class="visible-xs-inline">新浪微博账号</strong></a>
    <a href="/u/oauth/qq" class="btn pl5 pr5 mb5 btn-default btn-sm btn-sn-qq"><span class="icon-sn-qq"></span> <strong class="visible-xs-inline">QQ 账号</strong></a>
    <a href="/u/oauth/weixin" class="btn pl5 pr5 mb5 btn-default
                  btn-sm btn-sn-wechat"><span class="icon-sn-wechat"></span>
                  <strong class="visible-xs-inline">微信账号</strong></a>
    <button type="button" class="btn btn-default btn-sm btn-sn-more" id="showMore">...</button>
    <a href="/u/oauth/twitter" class="btn pl5 pr5 mb5 btn-default btn-sn-twitter btn-sm hidden"><span class="icon-sn-twitter"></span> <strong class="visible-xs-inline">Twitter 账号</strong></a>
    <a href="/u/oauth/facebook" class="btn pl5 pr5 mb5 btn-default btn-sn-facebook btn-sm hidden"><span class="icon-sn-facebook"></span> <strong class="visible-xs-inline">Facebook 账号</strong></a>
    <a href="/u/oauth/douban" class="btn pl5 pr5 mb5 btn-default btn-sn-douban btn-sm hidden"><span class="icon-sn-douban"></span> <strong class="visible-xs-inline">豆瓣账号</strong></a>
</div>
{{*/}}
